/* Home */
.home {
    background-color: rgb(255, 255, 255);
    grid-template-columns: 400px 400px auto;
}
/*
.home .img {
  color: black;
  position: relative;
}

.home .title{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(48, 48, 48);
  font-size: 40px;
  font-style:oblique;
  text-decoration: underline overline #0da19a;
}

.home .intro0{
  text-align: right;
  padding-right: 620px;
  font-style:oblique;
  text-decoration: underline;
}

.home .intro1{
  text-align: right;
  padding-right: 500px;
  margin-bottom: -450px;
  font-size: large;

}

.home .intro2{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 600px;
  font-style:normal;

}
.home .intro3{
  padding-left:600px;
  text-decoration: underline;
  font-style:oblique;

}
.home .intro4{
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 600px;
  font-style:normal;
} */
/* END Home */