{% extends "index.html" %}

{% block head %}
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <title>Load a basic WebMap | Sample | ArcGIS API for JavaScript 4.23</title>
  <!-- <link geo = "import" href = "Contribute/myfile.geojson"> -->


  <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css" />

  <script src="https://js.arcgis.com/4.23/"></script>

  <script>
    require(["esri/views/MapView", "esri/WebMap", "esri/widgets/Search", "esri/layers/GeoJSONLayer"],
      (MapView, WebMap, Search, GeoJSONLayer, SimpleMarkerSymbol) => {
      /************************************************************
       * Creates a new WebMap instance. A WebMap must reference
       * a PortalItem ID that represents a WebMap saved to
       * arcgis.com or an on-premise portal.
       *
       * To load a WebMap from an on-premise portal, set the portal
       * url with esriConfig.portalUrl.
       ************************************************************/
      const webmap = new WebMap({
        portalItem: {
          // autocasts as new PortalItem()
          id: "1195ccfc8c674620a0c2377f04a9c9d6"
        }
      });

      /************************************************************
       * Set the WebMap instance to the map property in a MapView.
       ************************************************************/
      const view = new MapView({
        map: webmap,
        container: "viewDiv"
      });

      const search = new Search({
        view: view
      });

      // Add the widget to the top-right corner of the view
      view.ui.add(search, "top-right");

      const template = {
        /*
        * Used for pop-up-template displaying data on point
        */
        title: "{project_name}",
        

        content:   "<li>Contact: {contact_name}" + "<li>Contact email: {contact_email}" + "<li>Organization: {fk_organization}" + "<li>Funding Agency: {funding_agencies}"
          + "<li>Location: {location_name}" + "<li>Coordinates: [{longitude}, {latitude}]" + "<li>Purpose: {purpose}"
        
      };

      const geoJSONLayer = new GeoJSONLayer({
        // Sample data
        // url: "https://gissd.sandag.org/rdw/rest/services/Miscellaneous/ABC_Licenses/MapServer/0/query?outFields=*&where=1%3D1&f=geojson",
        url: "http://localhost:8000/api/contribute/geoJSONlist",
        // copyright: "SANDAG/SanGIS",
        popupTemplate: template // displays pop-up table
      });

      webmap.add(geoJSONLayer);
    });

  </script>
  <style>
    .left {
      position: relative;
      width: 50%;
      float: left;
      height: 100%;
      background-color: #282828;
      z-index: 1010101010
    }

    .right {
      position: relative;
      width: 50%;
      float: left;
      height: 100%;
      background-color: #0080ff;
      z-index: 1010101010
    }
  </style>
{% endblock %}

{% block content %}
    <div class="content left" id="viewDiv"></div>
    <div class="content right">
      <h1>This is the right half of a page</h1>
    </div>
{% endblock %}